{% extends '::base.html.twig' %}

{% block body %}
<div id="imageswrapper">
    {% for image in images %}
        <a href="{{ url('image', {'name': image}) }}">
            <img src="{{ url('thumb', {'name': image}) }}" alt="{{ image }}">
        </a>
        <br>
    {% else %}
        No images were found.
    {% endfor %}
</div>
{% set last = images[images|length - 1] %}
{{ get_image_thumb(last) }}
<div id="ajaxloader" style="display:none;"><img src="{{ asset('bundles/view/images/ajax-loader.gif') }}" /></div>

<script type="text/javascript">
$(function() {

    $(window).scroll(function()
    {
        if($(window).scrollTop() == $(document).height() - $(window).height())
        {
            $('#ajaxloader').show();
            $.ajax({
                url: '?marker={{ get_image_thumb(last) }}',
                success: function(data)
                {
                    if (data) {
                        $('#imageswrapper').append(data);
                        $('#ajaxloader').hide();
                    } else {
                        $('#ajaxloader').html('No more images to show.');
                    }
                }
            });
        }
    });
});
</script>
{% endblock %}
